/*RESET*/
body{font-size:100.01%;height:100%;background:#fff;color:#444;line-height:1.4}
fieldset,img{border:0}
img{vertical-align:bottom}
html{-webkit-font-smoothing:antialiased}
article,aside,figure,footer,header,hgroup,nav,section{display:block}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
a:link{color:inherit}
a:visited{text-decoration:none;color:inherit}
a:hover{text-decoration:underline}
a:focus{text-decoration:none;outline:1px dotted #000}
a:active{outline:none}
ol li,ul ol li{list-style-type:decimal}
ul li{list-style-type:disc}
ul ul li{list-style-type:circle}
ul ul ul li{list-style-type:square}
ol ol li{list-style-type:lower-alpha}
ol ol ol li{list-style-type:lower-roman}
del{text-decoration:line-through}
legend{color:#000;padding-bottom:.5em}
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
abbr,acronym{border-bottom:1px dotted #333;font-variant:normal}
table{border-collapse:collapse;border-spacing:0;width:100%}
th{text-align:center}
tbody th{text-align:left}
input[type="checkbox"]{vertical-align:bottom;*vertical-align:baseline}
input[type="radio"]{vertical-align:text-bottom}
input{_vertical-align:text-bottom}
input,button,textarea,select,optgroup,option{font-size:.9em;line-height:1.4 !important}
button,input[type="submit"],input[type="reset"],input[type="button"]{*overflow:visible;_width:0;padding:.2em .4em}
/*STYLES*/
html{background-color:#f9f9f9}
body{color:#333;font-family:sans-serif;font-size:14px;line-height:1.5}
.nav{margin-top:10px}
.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "}
.line{*zoom:1}
.unit{float:left}
.size1of1{float:none}
.size1of2{width:50%}
.size1of3{width:33.33333%}
.size2of3{width:66.66666%}
.size1of4{width:25%}
.size3of4{width:75%}
.size1of5{width:20%}
.size2of5{width:40%}
.size3of5{width:60%}
.size4of5{width:80%}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px}
.page{margin-left:auto;margin-right:auto;width:960px}
.mod{margin:12px;overflow:auto}
    .mod-header{border-bottom:1px solid #ddd;padding-bottom:12px;}
    .mod-footer{margin-top:50px;padding-bottom:20px;padding-top:20px;text-align:center}
    .mod-item{padding:0 12px 12px 12px;border:1px solid #ddd;box-shadow:#ddd 1px 1px 15px}
    .mod-side{border:1px solid #ddd;box-shadow:#ddd 1px 1px 15px}
    .mod-notify{background-position:8px center;background-repeat:no-repeat;border:1px dashed #ddd;color:#333;padding:12px 12px 12px 48px}
        .mod .mod-notify{margin:0}
        .mod-success{background-color:#e2efe1;background-image:url('/img/icon-success.png')}
        .mod-tip{background-color:#e0edf4;background-image:url('/img/icon-tip.png')}
        .mod-error{background-color:#f4e6e6;background-image:url('/img/icon-error.png')}
        .mod-warning{background-color:#f4f2e0;background-image:url('/img/icon-warning.png')}
.node{overflow:auto}
    .node-item{background-color:#f9f9f9;border-bottom:1px solid #bbb;border-top:1px solid #fff;padding:6px}
        .node-item:hover{cursor:pointer;background-color:#e0edf4}
    .node-info{margin-bottom:8px;font-size:12px}
    .node-news{padding:8px}
h1,h2,h3,h4,h5,h6{font-family:"Georgia";font-weight:normal;line-height:1.5}
h1{font-size:2.00em}
h2{font-size:1.75em}
h3{font-size:1.50em}
h4{font-size:1.25em}
h5{font-size:1.00em}
h6{font-size:0.75em}
.h-title{font-size:68px;font-family:"Times New Roman";font-variant:small-caps;text-shadow:1px 1px 1px #303E4B;line-height:54px;letter-spacing:5px}
.h-page{border-bottom:1px solid #ddd;padding-left:8px}
.h-item{box-shadow:#999 0px 0px 15px;margin: 0 -12px 12px -12px;color:#f2f2f2;background-color:#333;padding-left:8px;border:2px groove #777;font-family:"Times New Roman";font-size:32px;font-variant:small-caps;letter-spacing:2px;line-height:1.2em;text-shadow:1px 1px 1px #333}
.h-side{padding-left:8px;background-color:#303E4B;font-size:16px;line-height:1.8;color:#f2f2f2;}
.h-box{}
.text-content{margin-bottom:12px}
.text-info{color:#666;font-size:12px}
.text-subtle{color:#999;font-size:11px}
.text-data{color:royalBlue;font-weight:bold}
.magic{color:#3c89e8}
.set{color:#0b810b}
.family{color:#877a29}
.unique{color:#877a29}
a:link,a:visited{color:#D93240;text-decoration:none}
a:hover{color:#D93240;text-decoration:underline}
.link-title{display:block;background-image:url("/img/logosmall.png");background-repeat:no-repeat;height:46px;width:324px;margin-top:16px}
.link-title:link,.link-title:visited{color:#f2f2f2;text-decoration:none}
.link-title:hover{color:#D93240;background-position:0 -52px}
.link-block:link,.link-block:visited{text-decoration:none}
.link-block:hover{text-decoration:none}
.link-nav:link,.link-nav:visited{color:#333;margin-right:22px;font-size:14px;text-decoration:none}
.link-nav:hover{color:#D93240}
.link-homepage:link,.link-homepage:visited{color:#333;margin-right:22px;font-size:14px;text-decoration:none}
.link-homepage:hover{color:#D93240}
.link-pagination{display:inline-block;padding:0 5px;margin:0 5px}
.link-pagination-selected{background-color:#ffcfcf}
.link-autocomplete{display:block;background-image:url('/img/lena16.png');background-repeat:no-repeat;background-position: 8px center;background-color:#fff;text-align:left;list-style-type:none;padding:3px 0 3px 35px}
.link-autocomplete:link,
.link-autocomplete:visited{color:#333}
.link-autocomplete:hover{color:#333;text-decoration:none;background-color:#e0edf4}
th{border-bottom:1px solid #ddd;font-size:14px;font-weight:normal;padding:4px 8px;text-align:left}
td{border-bottom:1px solid #ddd;font-size:12px;padding:6px;vertical-align:middle}
.table-search td{padding:12px}
.theading-search{font-size:12px}
ul li{list-style-type:none}
.list-autocomplete{position:relative;left:-32px;width:424px;margin:auto}
.list-directory{padding-left:1em}
.list-directory ul{padding-left:2em}
.list-directory li{list-style-type:none}
.list-iteminfo li{font-size:12px;line-height:1.5;list-style-type:none}
.img-itemthumb{float:left;margin-right:8px;margin-top:4px}
.img-item{margin:12px 0}
.form-search{margin-top:60px;text-align:right}
.input-text{background-color:#fafafa;background-image:url("/img/searchicon.png");background-position:3px center;background-repeat:no-repeat;border:1px solid #aaa;font-size:16px;height:24px;padding-left:32px;padding-top:2px;width:240px}
.input-text:focus{outline:0}
.input-submit{height:30px;width:60px}
/*JS*/
.js-itemnode{}
.action {height: 18px;background-color:#ddd;margin: 12px -12px -12px -12px}
.action:hover{cursor:pointer;background-color:#eee}