/* "




            You can't fight in here, this is the war room!" 




*/
/* Reset CSS */ 
body {font-size:100.01%; height:100%; background:#fff; color:#444; line-height:1.4} fieldset, img {border:0} img {vertical-align:bottom} html {-webkit-font-smoothing: antialiased;} 
/* HTML5 New Element Declarations */ 
article, aside, figure, footer, header, hgroup, nav, section { display:block; } 
/* Reset Styles */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } 
/* Links */ 
a:link {color:inherit} a:visited {text-decoration:none;color:inherit} a:hover {text-decoration: underline} a:focus {text-decoration:none; outline:1px dotted #000} a:active {outline:none} 
/* Lists */ 
ol li, ul ol li {list-style-type:decimal} ul li {list-style-type:disc} ul ul li {list-style-type:circle} ul ul ul li {list-style-type:square} ol ol li {list-style-type:lower-alpha} ol ol ol li {list-style-type:lower-roman} 
/* Text Elements */ 
del {text-decoration:line-through} legend {color:#000; padding-bottom:.5em} sub {vertical-align:sub; font-size:smaller} sup {vertical-align:super; font-size:smaller} abbr, acronym {border-bottom:1px dotted #333; font-variant:normal} 
/* Tables */ 
table {border-collapse:collapse; border-spacing:0; width: 100%} th {text-align:center} tbody th {text-align:left} 
/* Form Elements */ 
input[type="checkbox"] {vertical-align:bottom; *vertical-align:baseline} input[type="radio"] {vertical-align:text-bottom} input {_vertical-align:text-bottom} input, button, textarea, select, optgroup, option {font-size:.9em; line-height:1.4 !important} button, input[type="submit"], input[type="reset"], input[type="button"] {*overflow:visible; _width:0; padding:.2em .4em} 
/* Print and other Device Styles */ 
@media print { * { background: transparent !important; color: #444 !important; text-shadow: none; } a, a:visited { color: #444 !important; text-decoration: underline; } a:after { content: " (" attr(href) ")"; } abbr:after { content: " (" attr(title) ")"; } .ir a:after { content: ""; } /* Don't show links for images */ pre, blockquote { border: 1px solid #999; page-break-inside: avoid; } img { page-break-inside: avoid; } @page { margin: 0.5cm; } p, h2, h3 { orphans: 3; widows: 3; } h2, h3{ page-break-after: avoid; } } @media all and (orientation:portrait) {} @media all and (orientation:landscape) {} @media screen and (max-device-width: 480px) { html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } } 

/* ---------- Defaults */
html {
    border-top: 20px solid #303E4B;
	background-color: #eee;
}
body {
	color: #333;
	font-family: Arial;
    font-size: 14px;
}
.nav {margin-top: 10px}

/* Grid System */
.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

/* Structures */
.page {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 960px;
}

/* Modules */
.module {
	margin: 8px;
	overflow: auto;
	padding: 8px; 
}
    .mod-header {
        background-color: #303E4B;
        margin: 0 0 16px 0;
        padding: 16px 24px 20px 24px;
    }
    .mod-footer {
        border-top: 1px solid #ddd;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-top: 50px;
        text-align: center;
    }
    .mod-notify {
        background-position: 8px center;
        background-repeat: no-repeat;
        border: 1px dashed #ddd;
        margin: 4px 16px;
        padding-left: 48px;
    }
        .mod-success {
            background-color: #e2efe1;
            background-image: url('/img/icon-success.png');
        }
        .mod-tip {
            background-color: #e0edf4;
            background-image: url('/img/icon-tip.png');
        }
        .mod-error {
            background-color: #f4e6e6;
            background-image: url('/img/icon-error.png');
        }
        .mod-warning {
            background-color: #f4f2e0;
            background-image: url('/img/icon-warning.png');
        }
    .mod-info {
        margin-bottom: 20px;
    }
    .mod-itemlist {
        padding:0;
    }
    .module .mod-notify { margin: 0 }
    
/* Nodes */
.node {overflow:auto}
    .node-item {
        background-color: #eee;
        border: 1px solid #ddd;
        margin-bottom: 6px;
        padding: 6px;
    }
    .node-item:hover {
        background-color: #fff;
    }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia";
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.5;
}
h2 { font-size: 20px }
    .h-title {
        font-size: 68px;
        font-family: "Times New Roman";
        font-variant: small-caps;
        text-shadow: 1px 1px 1px #303E4B;
        line-height: 54px;
        letter-spacing: 5px;
    }
    .h-info {
        cursor: default;
        font-size: 16px;
        line-height: 1.8;
        margin: -8px -8px 12px -8px;
        padding-left: 8px;
    }
    .h-itemlist {
        background-color: #333;
        border: 2px groove #666;
        color: #f2f2f2;
        cursor: default;
        font-size: 16px;
        line-height: 1.8;
        padding-left: 8px;
    }
    .h-section {
        border-bottom: 1px solid #ddd;
        font-size: 24px;
        margin-bottom: 12px;
    }
    .h-page {
        border-bottom: 1px solid #ddd;
        font-size: 38px;
        font-variant: small-caps;
        margin-bottom: 12px;
        line-height: 1em;
        padding-bottom: 6px;
    }
    .h-item {
        font-size: 16px;
    }
    
/* Body Text */
p {
    font-family: Arial;
    line-height: 1.5;
}
    .text-content {
        margin-bottom: 12px;
    }
    .text-info {
        color: #666;
        font-size: 12px;
    }
    .text-success {
        color: green;
    }
    .text-warning {
        color: yellow;
    }
    .text-error {
        color: #444;
    }
    .text-date {
        font-size: 12px;
        color: #666;
    }
    .text-author {}
    .text-subtle {
        color: #999;
        font-size: 11px;
    }
    .text-data {
        color: royalBlue;
        font-weight: bold;
    }
    .text-copyright {
        text-align: center;
        margin-bottom: 20px;
    }
    .magic {color: royalBlue}
    .set {color: #0b810b}
    .family {color: #877a29}

/* Links */
a:link, 
a:visited {
    color: #D93240;
    text-decoration: none;
}
a:hover {
    color: #D93240;
    text-decoration: underline;
}
    .link-block:link,
    .link-block:visited {display: block;text-decoration: none}
    .link-block:hover {display: block;text-decoration: none}
    
    .link-title:link, 
    .link-title:visited { 
        color: #f2f2f2;
        text-decoration: none; 
    }
    .link-title:hover { color: #D93240; }
    
	.link-nav:link, 
    .link-nav:visited {
        color: #f2f2f2;
		margin-right: 22px;
		font-size: 14px;
        text-decoration: none;
	}
    .link-nav:hover { color: #D93240; }
    
/* Tables */
table {}
thead {}
th {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 8px;
    text-align: left;
}
tbody {}
tr {}
td {
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    padding: 6px;
    vertical-align: middle;
}
    .table-search {}
        .table-search td {
            padding: 12px;
        }
        .theading-search {
            background-color: #333;
            color: #f5f5f5;
            border: 2px groove #666;
            font-size: 13px;
        }
    .table-info {}
    .table-info td {
        font-size: 12px;
        padding: 6px 4px;
        border:0;
    }

/* Lists */
ul {}
ul li {}
    .list-directory {
        padding-left: 1em;
    }
        .list-directory ul {
            padding-left: 2em;
        }
        .list-directory li {
            list-style-type: none;
        }
        
    .list-taxonomy { margin: 12px 4px; }
    .list-taxonomy li { margin-left: 2em; line-height: 2;}

    .list-iteminfo {}
    .list-iteminfo li {
        font-size: 12px;
        line-height: 2.2;
    }

/* Images */
img{}
    .img-itemthumb {
        float: left;
        margin-right: 8px;
        margin-top: 4px;
    }
    .img-header {
        background-image: url('/img/logosmall2.png');
        background-repeat: no-repeat;
        width: 324px;
        height: 46px;
    }
    .img-header:hover {
        background-position: 0 -52px;
    }
    
/* Forms */
form {}
field {}
input {}
    .form-search {
        margin-top: 50px;
        text-align: right;
    }
	.input-text {
        -moz-border-radius: 6px;
        border-radius: 6px;
		-webkit-border-radius: 6px;
		background-color: #fafafa;
		background-image: url("/img/searchicon.png");
		background-position: 3px center;
		background-repeat: no-repeat;
		border: 1px solid #ccc;
		font-size: 16px;
		height: 26px;
		padding-left: 32px;
		padding-top: 2px;
		width: 340px;
	}
		.input-text:focus { outline: 0 }
	.input-submit {
		height: 30px;
	}